

<!-- Toolbar -->
<div class="toolbar" role="banner">
  
  <span>Страница о себе</span>
    <div class="spacer"></div>
  
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h2>Resources</h2>
  
  
  <div class="card-container">
    <img src="../assets/20190523_124327.jpg" width="200" />
    <app-link-bar title='Лесовой Юрий Евгеньевич'>  </app-link-bar>
    <app-link-bar title='Харьковский Национальный Университет Радиоэлектроники 2001-2006'></app-link-bar>
    <app-link-bar title='ИП"АИС-Харьков" 2008-2010, ТОВ"Авто Граф М" 2010-2020'></app-link-bar>
    <app-link-bar title='lesovoy.ye@gmail.com'></app-link-bar>
  </div>

  
</div>

